body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
pre{
  font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo img {
  vertical-align: middle;
}

.drop-down {
  position: relative;
}

.link {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.drop-down-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
  transform: translateY(-10px);
}

.drop-down.active .drop-down-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.button-donate button {
  padding: 8px 16px;
  background-color: #f90;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.drop-down-menu a {
  display: block;
  text-decoration: none;
  color: white;
}
