
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav class="nav-bar">
  <div class="logo">
    <img src="assets/images/logo.png.png" alt="Logo" width="80px">
  </div>
  <div></div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Home</button>
    <div  class="drop-down-menu">
      <a routerLink="/zeririnor"><pre>tregimi yn</pre></a><br>
      <a href="#"><pre>kontakot ne</pre></a>
    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Zeri rinor</button>
    <div class="drop-down-menu">
      <a routerLink='../zeririnor' ><pre>Blog</pre></a><br>
      <a href="#"><pre>Keshilla per rini</pre></a><br>
      <a href="#"><pre>Shkrime nga rinia</pre></a>
    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Behu pjes</button>
    <div class="drop-down-menu">
      <a href="#"><pre>Alumni</pre></a>

    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Publikimet</button>
    <div class="drop-down-menu">
      <a href="#"><pre>Letra te hapura</pre></a><br>
      <a href="#"><pre>Hulumtime</pre></a><br>
      <a href="#"><pre>Raportet vjetore</pre></a>
    </div>
  </div>
  <div></div>

  <div class="button-donate">
    <a href="#" style="padding-right: 50px;">
      <button>Donate</button>
    </a>
  </div>
</nav>
</body>
</html>

