
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav class="nav-bar">
  <div class="logo">
    <img src="assets/images/logo.png.png" alt="Logo" width="80px">
  </div>
  <div></div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Home</button>
    <div class="drop-down-menu">
      <a href="#">tregimi yn</a><br>
      <a href="#">kontakot ne</a>
    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Zeri rinor</button>
    <div class="drop-down-menu">
      <a href="#">Blog</a><br>
      <a href="#">Keshilla per rini</a><br>
      <a href="#">Shkrime nga rinia</a>
    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Behu pjes</button>
    <div class="drop-down-menu">
      <a href="#">Alumni</a>

    </div>
  </div>
  <div class="drop-down" data-dropdown>
    <button class="link" data-dropdown-button>Publikimet</button>
    <div class="drop-down-menu">
      <a href="#">Letra te hapura</a><br>
      <a href="#">Hulumtime</a><br>
      <a href="#">Raportet vjetore</a>
    </div>
  </div>
  <div></div>

  <div class="button-donate">
    <a href="#" style="padding-right: 50px;">
      <button>Donate</button>
    </a>
  </div>
</nav>
</body>
</html>

