<app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="stickers">
        <div class="sticker">1</div>
        <div class="sticker">2</div>
        <div class="sticker">3</div>
        <div class="sticker">4</div>
    </div>

    <div class="bottom-text"><h1>This is the bottom text</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti ipsa, sed reprehenderit nihil cumque, similique in aliquam illo provident itaque impedit ipsam facere illum accusantium beatae quis unde. Praesentium, officia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad eaque? Et delectus sed obcaecati. Repudiandae, exercitationem sed. Commodi earum enim esse hic praesentium, adipisci pariatur assumenda iste harum porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quibusdam voluptates excepturi dolorum nemo ad repudiandae ex a fuga beatae deleniti fugit adipisci vero, sit nesciunt totam itaque quae in! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tenetur quasi modi alias, aliquam, nihil provident quis recusandae fugiat accusamus facere natus! Temporibus sint tenetur eos magnam vitae libero ea?</p>

    </div>
</body>

</html>