<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->

<!--    <div class="stickers">-->
<!--        <div class="sticker">1</div>-->
<!--        <div class="sticker">2</div>-->
<!--        <div class="sticker">3</div>-->
<!--        <div class="sticker">4</div>-->
<!--    </div>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor harum ipsa laudantium nihil perferendis quibusdam quis quod ut voluptates! Architecto autem blanditiis dolorem ducimus est officia sapiente sequi velit voluptatibus!</p>-->



<!--</body>-->
<!--</html>-->
